/node_modules
/public/hot
/public/storage
/public/profile_image
/public/js/chat_list_item.js
/public/service-worker.js
/storage/framework/
/storage/framework/views
/storage/app/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.php-cs-fixer.cache
laravel-echo-server.json
laravel-echo-server.lock
firebase-credentials.json